<section id="about-us" class="font-['roboto-slab'] box-border m-w-[1140px] py-6 lg:py-0 lg:px-0 lg:min-h-[921px] flex items-center justify-center flex-col">
    <h2 class="mb-6 text-3xl text-center font-bold leading-[46px]">
        Про нас
    </h2>
    <div class="flex flex-col justify-center flex-wrap lg:flex-row lg:relative">
        <div class="lg:pr-2.5 lg:max-w-[461px] lg:max-h-[601px]">
            <img class="w-max h-max m-auto" src="/images/about-us-1.png" alt="ua girls">
            <div
                class="lg:w-[448.65px] lg:h-[810.49px] lg:border lg:border-purple-200 lg:bg-purple-200 lg:rounded-[50%] lg:transform lg:-rotate-[28deg] lg:absolute lg:bottom-0 lg:-left-20 -z-10">
            </div>
        </div>
        <div class="px-6 text-base font-medium lg:px-0 lg:text-2xl leading-5 lg:leading-10 max-w-[650px] font-medium text-justify">
            <p class="pb-3">Ми пройшли курси міжнародної IT-школи SheCodes. Хтось вчиться у ній досі. А дехто вже встиг закінчити кілька інших навчань і має комерційний досвід роботи.

            </p>
            <p class="pb-3">У серпні 2022 року ми створили спільноту «UA girls KEEP IN TECH». Мета — допомагати й
                підтримувати одна одну. Зараз у ній до 900 розумних, сміливих й рішучих спеціалістів різної кваліфікації
                та напрямків.
            </p>
            <p class="pb-3">Ми ті, хто відчув пекельну конкуренцію українського ІТ-ринку. Хто знає, як це бути однією із
                кількох сотень претендентів на місце «трейні» та ночами корпіти над тестовим завданням, яке ледь під
                силу «мідлу».
            </p>
            <blockquote class="text-pink-400 mb-6">Ми не здаємося! If you can't beat 'em, join 'em.</blockquote>
        </div>
    </div>
    <button
        class="min-w-[225px] text-2xl leading-10 px-[18px] py-[22px] bg-pink-400 border-2 border-transparent hover:bg-white hover:text-pink-400 hover:border-2 hover:border-pink-400 rounded-full text-white">Напишіть
        нам</button>
</section>