<footer class="font-['roboto-slab'] bg-purple-200">
  <div
    class="text-center lg:px-10 md:px-5 px-4 py-8 box-border max-w-screen-xl mx-auto flex flex-col md:flex-row items-center gap-2 md:justify-between"
  >
    <div class="flex gap-1">
      <img src="./images/logo.svg" width="50" alt="company logo" />
      <p class="text-indigo-950 self-center font-medium">
        UA girls KEEP IN TECH
      </p>
    </div>
    <ul class="flex lg:flex-row lg:gap-6 flex-col gap-1">
      <li>
        <a class="text-indigo-950 font-medium" href="#about_us">Про нас</a>
      </li>
      <li>
        <a class="text-indigo-950 font-medium" href="#skills">Що вміємо</a>
      </li>
      <li>
        <a class="text-indigo-950 font-medium" href="#why_us">Чому ми?</a>
      </li>
      <li>
        <a class="text-indigo-950 font-medium" href="#team">Команда</a>
      </li>
    </ul>
    <div class="flex gap-8">
      <p class="f text-indigo-950 font-medium">Ⓒ 2023</p>
      
    </div>
  </div>
</footer>
