<header class="bg-purple-200 font-['roboto-slab'] bg-purple-200">
  <div
    class="flex justify-between md:items-center items-start mx-auto max-w-screen-xl box-border p-4 relative"
  >
    <div class="md:flex gap-6 hidden">
      <a href="/index.html" id="logo" class="cursor-pointer">
        <img
          src="/images/logo.svg"
          alt="company logo"
          width="129"
          height="80"
        />
      </a>
      <nav class="flex items-center gap-6">
        <a
          href="#about_us"
          class="text-sm font-medium hover:cursor-pointer relative group md:font-bold md:text-lg"
        >
          Про нас
        </a>
        <a
          href="#skills"
          class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
        >
          Що вміємо
        </a>

        <a
          href="#why_us"
          class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
        >
          Чому ми?
        </a>
        <a
          href="#team"
          class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
        >
          Команда
        </a>
      </nav>
    </div>

    <div class="flex flex-col gap-6 md:hidden" x-data="{ expanded: false }">
      <svg
        fill="none"
        width="50"
        stroke="currentColor"
        stroke-width="1"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        class="self-start"
        @click="expanded = ! expanded"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        ></path>
      </svg>
      <nav class="flex flex-col items-start gap-6" x-show="expanded" x-collapse>
        <a
          href="#about_us"
          class="text-sm font-medium hover:cursor-pointer relative group md:font-bold md:text-lg"
        >
          Про нас
        </a>
        <a
          href="#skills"
          class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
        >
          Що вміємо
        </a>

        <a
          href="#why_us"
          class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
        >
          Чому ми?
        </a>
        <a
          href="#team"
          class="text-sm font-medium cursor-pointer relative group md:font-bold md:text-lg"
        >
          Команда
        </a>
      </nav>
    </div>
    <button
      class="rounded-full bg-pink-400 lg:text-3xl text-2xl text-white block border-2 border-transparent hover:bg-white hover:text-pink-400 hover:border-2 hover:border-pink-400 cursor-[url(hand.cur),_pointer] px-8 py-1 font-bold"
    >
      Зв'язатися
    </button>
  </div>
</header>
<!-- ............ -->
<!-- hero section -->
<section class="bg-purple-200 font-['roboto-slab'] bg-purple-200">
  <div
    class="bg-[url('/hero-bg-svg.399ccfa0.svg')] bg-no-repeat md:bg-[95%] bg-[length:90%] sm:bg-[left_calc(50%)_top_calc(25%)] bg-[left_calc(50%)_top_calc(15%)] md:bg-[length:55%] sm:px-10 px-4 sm:py-16 py-10 mx-auto max-w-screen-xl flex flex-col-reverse md:flex-row items-center"
  >
    <h1
      class="md:w-[40%] font-bold md:text-4xl text-center md:text-left text-3xl"
    >
      Привіт, ми українські дівчата, котрі знайшли себе у front-end розробці та
      прагнуть у ній розвиватись.
    </h1>

    <img
      class="ml-auto md:w-[59%] w-[100%]"
      src="/images/herosection.png"
      alt="Girls"
    />
  </div>
</section>
