<section id="our-history" class="bg-purple-200 -z-20">
  <div
    class="sm:px-10 px-4 py-16 box-border max-w-screen-xl mx-auto relative flex items-center justify-center flex-col"
  >
    <h2 class="font-bold text-3xl text-center pb-7">
      «UA girls KEEP IN TECH» — наш виклик
    </h2>
    <div
      class="flex flex-col items-center justify-center lg:flex-row lg:relative text-center sm:text-left"
    >
      <div
        class="text-base lg:px-0 lg:text-2xl leading-5 lg:leading-10 w-full lg:w-[50%] font-medium"
      >
        <div
          class="relative w-[50%] h-[70%] bg-white rounded-[50%] lg:transform lg:rotate-[156deg] lg:absolute lg:bottom-32 lg:left-0 z-10"
        ></div>
        <p
          class="pb-3 relative z-20 font-medium text-2xl lg:leading-9 leading-7"
        >
          Ми хочемо витрачати своє життя на самореалізацію, розвиток і
          задоволення потреб реальних клієнтів, а не на пошук вакансій,
          розсилання резюме й виконання тестових завдань.
        </p>
        <p
          class="pb-3 relative z-20 font-medium text-2xl lg:leading-9 leading-7"
        >
          Ми хочемо бути корисними людям. Хочемо створювати красиві сайти, веб-
          та моб-застосунки. 
        </p>
        <p
          class="relative text-pink-400 pb-3 z-20 font-medium text-2xl lg:leading-9 leading-7"
        >
          Віримо у красу своїх мрій!
        </p>
      </div>
      <div class="w-[50%]">
        <img
          class="hidden lg:block m-auto w-full"
          src="./images/about-us-2.png"
          alt="ua girls"
        />
      </div>
    </div>
  </div>
</section>
