<section id="team" class="">
  <div class="px-10 pt-14 pb-11 box-border max-w-screen-xl mx-auto relative">
    <h2 class="font-bold text-3xl text-center">Команда</h2>
    <ul class="py-14 grid grid-cols-2 md:grid-cols-4 gap-6">
      <li class="relative border-4 border-[#9D7FAD] rounded">
        <img
          class="opacity-70 w-[100%] max-w-full hover:opacity-100 hover:cursor-pointer ease-in-out duration-300 h-auto rounded-lg"
          src="/images/logo.svg"
          alt="team member"
        />
        <div class="absolute bottom-0 opacity-90 bg-purple-200 text-indigo-950">
          <p>name</p>
          <p>description</p>
        </div>
      </li>
      <li class="relative">
        <img
          class="opacity-70 hover:opacity-100 hover:cursor-pointer ease-in-out duration-300 h-auto max-w-full rounded-lg"
          src="/images/logo.svg"
          alt="team member"
          width="250"
        />
        <div class="absolute bottom-0 opacity-90 bg-purple-200 text-indigo-950">
          <p>name</p>
          <p>description</p>
        </div>
      </li>
      <li class="relative">
        <img
          class="opacity-70 hover:opacity-100 hover:cursor-pointer ease-in-out duration-300 h-auto max-w-full rounded-lg"
          src="/images/logo.svg"
          alt="team member"
          width="250"
        />
        <div class="absolute bottom-0 opacity-90 bg-purple-200 text-indigo-950">
          <p>name</p>
          <p>description</p>
        </div>
      </li>
      <li class="relative">
        <img
          class="opacity-70 hover:opacity-100 hover:cursor-pointer ease-in-out duration-300 h-auto max-w-full rounded-lg"
          src="/images/logo.svg"
          alt="team member"
          width="250"
        />
        <div class="absolute bottom-0 opacity-90 bg-purple-200 text-indigo-950">
          <p>name</p>
          <p>description</p>
        </div>
      </li>
    </ul>
    <button
      class="py-3 px-8 rounded-full border-2 border-pink-400 lleading-tight font-medium text-2xl sm:text-3xl bg-pink-400 text-white block mx-auto hover:bg-white hover:text-pink-400 ease-in-out duration-200"
    >
      Попрацюємо разом?
    </button>
  </div>
</section>
