<section class="font-serif box-border bg-purple-200 m-w-[1140px] -z-20 py-6 lg:py-0 lg:px-0 lg:min-h-[921px] flex items-center justify-center flex-col">
    <h2 class="my-6 px-6 lg:px-0 text-3xl text-center font-bold leading-[46px]">
        Ми заснували «UA girls KEEP IN TECH», щоб працювати
    </h2>
    <div class="flex flex-col justify-center flex-wrap lg:flex-row lg:relative">
        <div class="px-6 lg:px-0 text-2xl leading-10 max-w-[650px] lg:max-w-[453px] font-medium text-justify p-11">
            <div class="relative -z-10 lg:w-[492px] lg:h-[570px] lg:border lg:border-white lg:bg-white lg:rounded-[50%] lg:transform lg:rotate-[156deg] lg:absolute lg:bottom-32 lg:left-0 z-10"></div>
            <p class="pb-3 relative z-20">Хочемо витрачати своє життя не на пошук вакансій, розсилання резюме й виконання тестових завдань, а на самореалізацію, розвиток  і задоволення потреб реальних клієнтів.
            </p>
            <p class="pb-3 relative z-20">Ми хочемо бути корисними людям вже, тут і зараз. Хочемо створювати красиві сайти, веб- та моб-застосунки. 
            </p>
            <p class="text-pink-400 pb-3 relative z-20">Віримо у красу своїх мрій!</p>
        </div>
        <div class="lg:pr-2.5 relative">
            <img class="hidden lg:block m-auto lg:w-[610px] lg:h-[689px] relative z-30" src="/images/about-us-2.png" alt="ua girls">
            <div class="w-[98px] h-[112px] border border-white bg-white rounded-[50%] transform -rotate-[28deg] absolute bottom-0 right-1 lg:-left-8 z-10"></div>
        </div>
    </div>
</section>