<section id="why_us" class="bg-purple-200">
  <div class="px-10 py-16 box-border max-w-screen-xl mx-auto relative">
    <div
      class="top-20 bottom-1/2 left-1/2 transform -translate-x-1/2 absolute w-3/5 bg-white h-5/6 rounded-full"
    ></div>
    <div class="relative z-10">
      <h2 class="font-bold text-3xl text-center">ЧОМУ МИ?</h2>
      <div
        class="gap-6 pt-9 pb-9 block text-center sm:flex sm:text-left md:gap-0"
      >
        <ul class="flex flex-col gap-5 justify-evenly">
          <li class="font-medium text-base sm:leading-5 lg:leading-7 leading-5">
            <span class="text-pink-400">Пишемо код з нуля,</span> а не
            пропонуємо шаблонні рішення.
          </li>
          <li class="font-medium text-base sm:leading-5 lg:leading-7 leading-5">
            <span class="text-pink-400">Дуже уважні та старанні,</span> бо лише
            починаємо кар’єру девелопера, не хапаємо зірок з неба.
          </li>
          <li class="font-medium text-base sm:leading-5 lg:leading-7 leading-5">
            <span class="text-pink-400"
              >Маємо кількасот спеціалістів «у резерві»,</span
            >
            серед яких знайдемо потрібної кваліфікації, щоб ви не переплачували
            за виконання нескладної задачі.
          </li>
          <li class="font-medium text-base sm:leading-5 lg:leading-7 leading-5">
            <span class="text-pink-400">Стежимо за новинками галузі,</span>
            експериментуємо із сучасними бібліотеками й фреймворками.
          </li>
        </ul>
        <img
          src="/images/whyus_grl.svg"
          alt="happy girl"
          class="hidden md:block"
        />
        <div class="flex flex-col justify-evenly gap-4">
          <p class="font-medium text-base sm:leading-5 lg:leading-7 leading-5">
            Обираючи нас,
            <span class="text-pink-400">Ви отримуєте очікуваний результат</span>
            за приємною ціною
            <span class="text-pink-400"
              >та даєте можливість українській ІТ-спільноті</span
            >
            збагатитись новими рішеннями.
          </p>
          <p class="font-medium text-base sm:leading-5 lg:leading-7 leading-5">
            <span class="text-pink-400"> До речі,</span> ми охоче беремо до
            своїх лав початківців та менторимо їх на реальних проектах.
          </p>
          <p
            class="text-pink-400 font-medium text-base sm:leading-5 lg:leading-7 leading-5"
          >
            Кодити для нас — значить любити💗
          </p>
        </div>
      </div>
      <button
        class="p-3 rounded-full lleading-tight font-bold text-2xl sm:text-3xl w-full sm:w-72 bg-pink-400 text-white block mx-auto"
      >
        Напишіть нам
      </button>
    </div>
  </div>
</section>
